@import 'variables'; 

@import 'font-awesome/scss/font-awesome';
@import 'bootstrap/scss/bootstrap';

body {
    background-image: url($imgs-src + 'google.png');
    background-repeat: no-repeat;
    background-color: #EEEEEE;
    color: #333333;
}